[submodule "submodules/luex"]
	path = submodules/luex
	url = https://github.com/OpenRelationship/luex.git
[submodule "submodules/moonflower"]
	path = submodules/moonflower
	url = https://github.com/OpenRelationship/moonflower.git
