[submodule "submodules/moss-lua"]
	path = submodules/moss-lua
	url = https://github.com/OpenRelationship/moss-lua.git
[submodule "submodules/moss-browser"]
	path = submodules/moss-browser
	url = https://github.com/OpenRelationship/moss-browser.git
